.formulario {
    margin: 60px auto;
    width:400px;
    height: 360px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:30px;
}

.formulario_btn {
    align-self: center;
    width:100px;
    height: 40px;
    border-radius: 8px;
    color:white;
    background-color: red;
    cursor:pointer;
    border:1px solid red;
    font-size: 16px;
}
.formulario_btn:hover {
    color:red;
    background-color: whitesmoke;
}
.formulario_textarea {
    
    resize:none;
    border-radius: 8px;
    border:1px solid lightblue;
    color:blue;
    padding:10px;
    outline: none;
    font-size: 15px;
}
.formulario_title {
    width:100%;
    height: 30px;
    border-radius: 8px;
    border:1px solid lightblue;
    color:blue;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

@media screen and (max-width:740px){
    .formulario_title {
        width:100%;
    }
    .formulario {
        padding:0;
    }
}
@media screen and (max-width:440px) {
    .formulario {
        width:100%;
        align-items: center;
    }
    .formulario_title {
        width:80%;
    }
    .formulario_textarea {
        width:80%;
    }
}