.card-nota {
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 10px;
    position: relative;
    border-radius: 8px;
    border:1px solid lightblue;
    color:blue;
    padding:10px;
}
.card-nota_title--container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-nota_title {
    padding-left:20px;
    padding-bottom: 10px;
    font-size: 20px;
    color:red;
    width:90%;
    height: auto;
    word-wrap: break-word;
}
.card-nota_text {
    word-wrap: break-word;
    padding:0 20px;
    color:grey;
}